body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 6rem auto;
  @media screen and (width < 768px) {
    flex-direction: column-reverse;
  }
}

.sidebar {
  width: 15%;
  height: 100%;
  padding: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  transition: transform 0.3s ease-in-out;
}

.sidebar li:hover {
  transform: translate(8px, 0px);
  cursor: pointer;
}

.sidebar li a {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  transition-duration: 0.3s;
}

.sidebar h2,
.sidebar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.sidebar svg {
  width: 1.5rem;
  height: 1.5rem;
}

.main {
  width: 85%;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  @media screen and (width < 768px) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.books-section {
  h1 {
    text-align: center;
  }
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 200px;
  position: relative;

  .top {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #92c022;
    color: #148acb;
    padding: 1rem .6rem;
    border-radius: 0 10px 0 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .title {
    text-align: center;
    font-size: 20px;
  }
}
