body {
  background-color: black;
}

h2 {
  color: #fff;
  text-transform: uppercase;
}

.book-view-section {
  background-image: url("../../assets/vista-libro/library-with-books.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 20px;
  display: flex;
  padding: 6rem 0 2rem 0;
  justify-content: center;
  align-items: center;
}

.content-container {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1280px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.74) 0%,
    rgba(255, 255, 255, 0.17) 68%
  );
  backdrop-filter: blur(20px); /* Efecto blur */
  -webkit-backdrop-filter: blur(20px); /* Efecto blur para navegadores Webkit */
  border-radius: 20px;
}

.book-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  gap: 20px;
  color: #fff;
  margin-bottom: 1rem;
}

.price {
  background-color: #148acb;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.book-title {
  font-size: 28px;
  text-transform: uppercase;
}

.author {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 16px;
  font-weight: 400;
}

.barcode {
  display: flex;
  align-items: center;
  gap: 10px;
}

.barcode img {
  width: 100px;
}

.barcode-info p:nth-child(1) {
  margin: 0;
}

.barcode-info p:nth-child(2) {
  margin: 5px 0 0 0;
}

.book-view-container h2 {
  font-size: 20px;
  color: #fff;
}

.aditional-info-container {
  display: flex;
  flex-direction: column;
}

.category {
  width: fit-content;
  background-color: #92c022;
  font-size: 16px;
  font-weight: lighter;
  padding: 10px 20px;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.book-view-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  gap: 20px;
  position: relative;
}

.book-view-image .status {
  position: absolute;
  bottom: 0;
  background-color: #148acb;
  color: white;
  text-align: center;
  width: 270px;
  padding: 15px;
  border-radius: 0 0 20px 20px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.status.unavailable {
  background-color: #A70000;
}

.status.available {
  background-color: #18AC00;
}

.book-view-image img {
  width: 300px;
  border-radius: 20px;
}

.recomendation-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.books-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 columnas por defecto */
  gap: 10px;
  align-items: center;
}

.book {
  text-align: center;
  width: 160px;
  height: 260px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding: 1rem;
}

.book h3,
.book p,
.book a {
  position: relative;
  z-index: 2;
  text-align: left;
  font-size: 14px;
}

.book a {
  text-decoration: none;
  color: #92c022;

  font-weight: 600;
}

.book::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e6646400, #000000);
  z-index: 01;
}

@media screen and (width < 700px) {
  .book-view-container {
    flex-direction: column;
  }
}

@media screen and (width < 660px) {
  .book-view-section {
    padding: 5rem 0 2rem 0;
  }
}

@media screen and (440px < width < 940px) {
  .books-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
  }
}

@media screen and (width < 440px) {
  .books-row {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    justify-items: center;
  }
}
